Repository datum-cloud/cloud-portal: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: bunx eslint {staged_files} --fix
      auto_add: true
    prettier:
      glob: '*.{js,jsx,ts,tsx,json}'
      run: bunx prettier --write {staged_files}
      auto_add: true
    typecheck:
      glob: '*.{ts,tsx}'
      run: bunx tsc --noEmit {staged_files}
      auto_add: true

fix: address review warnings
  app/features/organization/team/manage-members-dialog.tsx
  app/features/organization/team/roles/use-roles-editor.ts
  app/routes/org/detail/team/create-group.tsx
  app/routes/org/detail/team/groups.tsx
Due: eslint, prettier, typecheck

fix: stale currentRoles on second save and group-detail partial-commit
  app/routes/org/detail/team/group-detail.tsx
  app/routes/org/detail/team/member-roles.tsx
Due: eslint, prettier, typecheck

fix: address code review findings for group roles and team pages
  app/features/organization/team/group-header.tsx
  app/features/organization/team/manage-members-dialog.tsx
  app/features/organization/team/roles/add-role-screen.tsx
  app/features/organization/team/roles/permissions-panel.tsx
  app/features/organization/team/roles/roles-panel.tsx
  app/routes/org/detail/team/group-detail.tsx
  app/routes/org/detail/team/groups.tsx
  app/routes/org/detail/team/index.tsx
  app/routes/org/detail/team/member-roles.tsx
  app/utils/helpers/member.helper.ts
Due: eslint, prettier, typecheck

update pop map
  app/features/edge/proxy/overview/active-pops-flat-map.tsx
  app/features/edge/proxy/overview/active-pops-map.tsx
  public/images/world-map-dots.svg
Due: eslint, prettier, typecheck

add canela font for titles and add some more page descriptions
  app/features/edge/domain/domain-form-dialog.tsx
  app/modules/datum-ui/components/data-table/features/toolbar/data-table-toolbar-skeleton.tsx
  app/modules/datum-ui/components/page-title/page-title.tsx
  app/root.tsx
  app/routes/project/detail/dns-zones/index.tsx
  app/routes/project/detail/edge/index.tsx
  app/routes/project/detail/home.tsx
  app/routes/project/detail/metrics/index.tsx
  app/routes/project/detail/secrets/index.tsx
  app/styles/fonts.css
  app/styles/themes/alpha.css
  public/fonts/CanelaText-Regular.ttf
Due: eslint, prettier, typecheck

feat(e2e): add smoke and regression test suite with CI gates
  .github/workflows/quality-checks.yml
  app/components/header/user-dropdown.tsx
  cypress.config.ts
  cypress/e2e/core/log-in.cy.ts
  cypress/e2e/regression/auth.cy.ts
  cypress/e2e/smoke/account.cy.ts
  cypress/e2e/smoke/ai-edge.cy.ts
  cypress/e2e/smoke/auth.cy.ts
  cypress/e2e/smoke/dns-zones.cy.ts
  cypress/e2e/smoke/domains.cy.ts
  cypress/e2e/smoke/health.cy.ts
  cypress/e2e/smoke/organisations.cy.ts
  cypress/e2e/smoke/projects.cy.ts
  cypress/e2e/smoke/secrets.cy.ts
  cypress/support/e2e.ts
Due: eslint, prettier, typecheck

Update workflow
  .github/workflows/quality-checks.yml
  cypress.config.ts
Due: eslint, prettier, typecheck

Debugging error
  .github/workflows/quality-checks.yml
Due: none

Regression Test
  .github/workflows/quality-checks.yml
Due: none

Fixing regression test
  .github/workflows/quality-checks.yml
Due: none

Regression will now only run on push to main again
  .github/workflows/quality-checks.yml
Due: none

chore: fix small fetching issues and excessive toasts
  app/features/edge/dns-zone/dns-zone-form-dialog.tsx
  app/features/edge/domain/domain-form-dialog.tsx
  app/features/metric/export-policies/form/update-form.tsx
  app/features/organization/settings/danger-card.tsx
  app/features/project/settings/danger-card.tsx
  app/features/secret/form/secret-form-dialog.tsx
  app/resources/invitations/invitation.queries.ts
  app/resources/organizations/organization.gql-queries.ts
  app/routes/account/settings/active-sessions.tsx
  app/routes/org/detail/settings/policy-bindings.tsx
  app/routes/org/detail/team/create-group.tsx
  app/routes/org/detail/team/groups.tsx
  app/routes/org/detail/team/index.tsx
  app/routes/org/detail/team/invite.tsx
  app/routes/project/detail/dns-zones/detail/dns-records.tsx
  app/routes/project/detail/dns-zones/detail/settings.tsx
  app/routes/project/detail/dns-zones/index.tsx
  app/routes/project/detail/domains/index.tsx
  app/routes/project/detail/edge/detail/index.tsx
  app/routes/project/detail/edge/index.tsx
  app/routes/project/detail/metrics/index.tsx
  app/routes/project/detail/secrets/index.tsx
Due: eslint, prettier, typecheck

Formatting code
  app/features/organization/settings/general-card.tsx
  app/routes/account/organizations/index.tsx
  cypress/e2e/regression/organisations.cy.ts
Due: eslint, prettier, typecheck

feat(e2e): add organisation regression tests with full CRUD coverage
  .github/workflows/quality-checks.yml
  app/components/confirmation-dialog/confirmation-dialog.tsx
  app/components/danger-card/danger-card.tsx
  app/features/organization/settings/danger-card.tsx
  app/features/organization/settings/general-card.tsx
  app/routes/account/organizations/index.tsx
  cypress/e2e/regression/organisations.cy.ts
Due: eslint, prettier, typecheck

Fixing org test
  cypress/e2e/regression/organisations.cy.ts
Due: eslint, prettier, typecheck

Update E2E regression tests condition to run only on pushes to main branch
  .github/workflows/quality-checks.yml
Due: none

feat: add initial chatbot ui
  app/components/project-bottom-bar/chat-panel.tsx
  app/components/project-bottom-bar/chat-storage.ts
  app/components/project-bottom-bar/index.ts
  app/components/project-bottom-bar/project-bottom-bar.tsx
  app/components/project-bottom-bar/terminal-panel.tsx
  app/layouts/dashboard.layout.tsx
  app/routes/project/detail/layout.tsx
  app/server/routes/api.ts
  app/server/routes/assistant.ts
  app/styles/custom.css
  app/styles/root.css
  app/utils/env/env.server.ts
  app/utils/env/types.ts
  bun.lock
  package.json
Due: eslint, prettier, typecheck

refactor into smaller components and improve ui
  app/components/header/mobile-switcher-sheet.tsx
  app/components/project-bottom-bar/chat-panel.tsx
  app/components/project-bottom-bar/chat/assistant-message.tsx
  app/components/project-bottom-bar/chat/chat-input.tsx
  app/components/project-bottom-bar/chat/chat-panel.tsx
  app/components/project-bottom-bar/chat/chat-sidebar.tsx
  app/components/project-bottom-bar/chat/chat-storage.ts
  app/components/project-bottom-bar/chat/thinking-block.tsx
  app/components/project-bottom-bar/chat/use-chat-logic.ts
  app/components/project-bottom-bar/project-bottom-bar.tsx
  app/components/select-organization/select-organization.tsx
  app/server/routes/assistant.ts
  app/styles/custom.css
  app/styles/root.css
Due: eslint, prettier, typecheck

ui updates
  app/components/error/generic.tsx
  app/components/project-bottom-bar/chat/assistant-message.tsx
  app/components/project-bottom-bar/chat/chat-panel.tsx
  app/components/project-bottom-bar/project-bottom-bar.tsx
  app/routes/not-found.tsx
  app/server/routes/assistant.ts
Due: eslint, prettier, typecheck

feat(e2e): add project and members regression tests
  .github/workflows/quality-checks.yml
  app/features/organization/team/invitation-form.tsx
  app/features/project/settings/danger-card.tsx
  app/features/project/settings/general-card.tsx
  app/modules/datum-ui/components/data-table/core/data-table.types.ts
  app/modules/datum-ui/components/data-table/features/actions/data-table-inline-actions.tsx
  app/routes/org/detail/projects/index.tsx
  app/routes/org/detail/team/index.tsx
  cypress/e2e/regression/members.cy.ts
  cypress/e2e/regression/organisations.cy.ts
  cypress/e2e/regression/projects.cy.ts
  cypress/e2e/smoke/organisations.cy.ts
  cypress/support/e2e.ts
Due: eslint, prettier, typecheck

feat(e2e): DNS zones regression tests and smoke activity fix
  .github/workflows/quality-checks.yml
  app/features/edge/dns-zone/dns-zone-form-dialog.tsx
  app/routes/project/detail/dns-zones/detail/settings.tsx
  app/routes/project/detail/dns-zones/index.tsx
  cypress/e2e/regression/dns-zones.cy.ts
  cypress/e2e/smoke/organisations.cy.ts
Due: eslint, prettier, typecheck

refactor
  app/components/project-bottom-bar/chat/chat-input.tsx
  app/features/project-bottom-bar/chat/assistant-message.tsx
  app/features/project-bottom-bar/chat/chat-input.tsx
  app/features/project-bottom-bar/chat/chat-panel.tsx
  app/features/project-bottom-bar/chat/chat-sidebar.tsx
  app/features/project-bottom-bar/chat/chat-storage.ts
  app/features/project-bottom-bar/chat/equalizer.tsx
  app/features/project-bottom-bar/chat/thinking-block.tsx
  app/features/project-bottom-bar/chat/use-chat-logic.ts
  app/features/project-bottom-bar/chat/use-speech-input.ts
  app/features/project-bottom-bar/index.ts
  app/features/project-bottom-bar/project-bottom-bar.tsx
  app/features/project-bottom-bar/terminal-panel.tsx
  app/modules/assistant/index.ts
  app/modules/assistant/system-prompt.ts
  app/modules/assistant/tools/activity-tools.ts
  app/modules/assistant/tools/index.ts
  app/modules/assistant/tools/metrics-tools.ts
  app/modules/assistant/tools/resource-tools.ts
  app/modules/assistant/tools/schemas.ts
  app/modules/assistant/tools/utility-tools.ts
  app/routes/project/detail/layout.tsx
  app/server/routes/assistant.ts
Due: eslint, prettier, typecheck

add rate limit and improve usability
  .env.example
  app/features/project-bottom-bar/chat/chat-input.tsx
  app/features/project-bottom-bar/chat/chat-panel.tsx
  app/features/project-bottom-bar/chat/use-chat-logic.ts
  app/modules/assistant/system-prompt.ts
  app/routes/project/detail/layout.tsx
  app/server/middleware/rate-limit.ts
  app/server/routes/api.ts
  app/server/routes/assistant.ts
  app/utils/env/env.server.ts
  app/utils/env/index.ts
  app/utils/env/types.ts
Due: eslint, prettier, typecheck

feat: auto-set project month field on PR open
  .github/workflows/set-project-month.yaml
Due: none

add waf query to chatbot and to ai edge detail page
  app/features/edge/proxy/metrics/connector-sparkline.tsx
  app/features/edge/proxy/metrics/proxy-sparkline.tsx
  app/features/edge/proxy/metrics/waf-events.tsx
  app/modules/assistant/system-prompt.ts
  app/modules/assistant/tools/metrics-tools.ts
  app/routes/project/detail/edge/detail/index.tsx
  app/styles/themes/alpha.css
Due: eslint, prettier, typecheck

address pr comments
  app/features/project-bottom-bar/chat/chat-panel.tsx
  app/features/project-bottom-bar/chat/chat-storage.ts
  app/features/project-bottom-bar/chat/use-chat-logic.ts
  app/modules/assistant/tools/utility-tools.ts
  app/server/routes/assistant.ts
  cypress/component/chat-storage.cy.ts
  cypress/component/system-prompt.cy.ts
Due: eslint, prettier, typecheck

chore: pin set-project-month to v1.13.2
  .github/workflows/set-project-month.yaml
Due: none

fix(deps): remediate Snyk-identified dependency vulnerabilities
  bun.lock
  package.json
Due: prettier

feat(e2e): add domains, secrets, and AI Edge regression tests
  app/features/edge/domain/domain-form-dialog.tsx
  app/features/edge/proxy/proxy-form-dialog.tsx
  app/features/secret/form/overview/danger-card.tsx
  app/routes/project/detail/domains/detail/settings.tsx
  app/routes/project/detail/domains/index.tsx
  app/routes/project/detail/edge/detail/index.tsx
  app/routes/project/detail/edge/index.tsx
  app/routes/project/detail/secrets/index.tsx
  cypress.config.ts
  cypress/e2e/regression/dns-zones.cy.ts
  cypress/e2e/regression/domains.cy.ts
  cypress/e2e/regression/http-proxies.cy.ts
  cypress/e2e/regression/members.cy.ts
  cypress/e2e/regression/organisations.cy.ts
  cypress/e2e/regression/projects.cy.ts
  cypress/e2e/regression/secrets.cy.ts
  cypress/support/e2e.ts
  cypress/support/shared-resources.ts
Due: eslint, prettier, typecheck

chore: fix bugs from ai chatbot in staging.
  app/features/project-bottom-bar/chat/chat-input.tsx
  app/features/project-bottom-bar/chat/chat-panel.tsx
  app/features/project-bottom-bar/chat/use-chat-logic.ts
  app/features/project-bottom-bar/project-bottom-bar.tsx
  app/server/routes/assistant.ts
  app/styles/custom.css
  config/base/backend-traffic-policy.yaml
Due: eslint, prettier, typecheck

fix: accept invitations through the user's context
  app/resources/invitations/invitation.service.ts
Due: eslint, prettier, typecheck

chore: add user message to chatbot logs
  app/server/routes/assistant.ts
Due: eslint, prettier, typecheck

fix: gate member roles editor on patch permission
  app/features/organization/team/roles/role-row.tsx
  app/features/organization/team/roles/roles-panel.tsx
  app/routes/org/detail/team/group-detail.tsx
  app/routes/org/detail/team/member-roles.tsx
  app/server/entry.ts
  app/server/middleware/rate-limit.ts
Due: eslint, prettier, typecheck

test(ci): verify regression failures block publish
  .github/workflows/ci.yml
  .github/workflows/publish.yaml
  cypress/e2e/regression/secrets.cy.ts
Due: eslint, prettier, typecheck

fix: patch hono bun adapter globals for Vite SSR module runner
  vite.config.ts
Due: eslint, prettier, typecheck

fix: use groupadd/useradd instead of addgroup/adduser in Dockerfile
  Dockerfile
Due: none

chore(deps): update react-router to 7.14.1
  bun.lock
Due: none

chore(deps): update react-router to 7.14.1
  package.json
Due: prettier

chore(deps): add @datum-cloud/datum-ui package and update theme imports
  app/components/code-editor/code-editor.tsx
  app/components/header/user-dropdown.tsx
  app/components/logo/logo-flat.tsx
  app/components/logo/logo-icon.tsx
  app/components/logo/logo-stacked.tsx
  app/components/logo/logo-text.tsx
  app/features/project/illustrations/ai-edge.tsx
  app/features/project/illustrations/dns.tsx
  app/features/project/illustrations/domain.tsx
  app/features/project/illustrations/metrics.tsx
  app/layouts/private.layout.tsx
  app/modules/datum-themes/README.md
  app/modules/datum-themes/client-only.tsx
  app/modules/datum-themes/index.tsx
  app/modules/datum-themes/script.ts
  app/modules/datum-themes/theme-script.tsx
  app/modules/datum-themes/types.ts
  app/modules/shadcn/ui/map.tsx
  app/providers/app.provider.tsx
  app/root.tsx
  bun.lock
  package.json
Due: eslint, prettier, typecheck
