Repository datum-cloud/cloud-portal: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: bunx eslint {staged_files} --fix
      auto_add: true
    prettier:
      glob: '*.{js,jsx,ts,tsx,json}'
      run: bunx prettier --write {staged_files}
      auto_add: true
    typecheck:
      glob: '*.{ts,tsx}'
      run: bunx tsc --noEmit {staged_files}
      auto_add: true

feat(account): add the sign-in method row builder and shared provider presentation
  app/features/account/cards/identity-card.tsx
  app/features/account/identity-providers.tsx
  app/features/account/sign-in-methods.test.ts
  app/features/account/sign-in-methods.ts
Due: eslint, prettier, typecheck

fix(env): derive the auth-ui origin from the OIDC issuer
  .env.example
  app/features/account/cards/passkeys-card.tsx
  app/utils/env/auth-ui-origin.test.ts
  app/utils/env/auth-ui-origin.ts
  app/utils/env/env.server.ts
  app/utils/env/index.ts
Due: eslint, prettier, typecheck

feat(account): rebuild the security tab cards with real data
  app/features/account/cards/2fa-card.tsx
  app/features/account/cards/passkeys-card.tsx
  app/features/account/cards/sign-in-method-card.tsx
  app/features/account/cards/team-auth-card.tsx
  app/routes/account/settings/security.tsx
Due: eslint, prettier, typecheck

fix(account): address review feedback and drop the legacy /ui/v2 path
  .env.example
  app/components/icon/github.tsx
  app/features/account/cards/2fa-card.tsx
  app/features/account/cards/identity-card.tsx
  app/features/account/cards/sign-in-method-card.tsx
  app/features/account/identity-providers.tsx
  app/features/account/sign-in-methods.test.ts
  app/features/account/sign-in-methods.ts
  app/modules/control-plane/shared/client/types.gen.ts
  app/resources/users/user.adapter.test.ts
  app/resources/users/user.adapter.ts
  app/resources/users/user.queries.ts
  app/routes/account/settings/security.tsx
  app/utils/env/auth-ui-origin.test.ts
  app/utils/env/auth-ui-origin.ts
  scripts/openapi.ts
Due: eslint, prettier, typecheck

chore(deps): sync sdk-trace-base with opentelemetry-js monorepo bump
  bun.lock
  package.json
Due: prettier

docs(deps): add design spec for RR8/Vite8/TS7 major upgrade
  docs/enhancements/major-deps-upgrade-rr8-vite8-ts7.md
Due: none

fix(deps): upgrade to react-router v8, vite v8, hono-server v3
  bun.lock
  package.json
Due: prettier

fix(root): use nuqs react-router v8 adapter
  app/root.tsx
Due: eslint, prettier, typecheck

refactor(vite): migrate manualChunks to rolldown codeSplitting
  vite.config.ts
Due: eslint, prettier, typecheck

refactor(vite): drop hono bun-adapter patch obsoleted by hono-server v3
  vite.config.ts
Due: eslint, prettier, typecheck

refactor(vite): drop cypress dynamic-import workaround obsoleted by RR8 chunk layout
  vite.config.ts
Due: eslint, prettier, typecheck

fix(server): make side-effect imports explicit for rolldown ssr tree-shaking
  app/modules/control-plane/setup.server.ts
  app/server/entry.ts
Due: eslint, prettier, typecheck

fix(client): make browser client config explicit for rolldown tree-shaking
  app/entry.client.tsx
  app/modules/control-plane/setup.client.ts
Due: eslint, prettier, typecheck

fix(app): react-router v8 type fallout and getLoadContext runtime fix
  app/components/header/breadcrumb.tsx
  app/entry.server.tsx
  app/layouts/private.layout.tsx
  app/root.tsx
  app/routes/account/billing/detail.tsx
  app/routes/project/detail/services/plugin-mount.tsx
  app/routes/test/sentry.tsx
  app/server/context.ts
  app/server/entry.ts
  app/types.d.ts
  app/utils/middlewares/auth.middleware.ts
  app/utils/middlewares/middleware.ts
Due: eslint, prettier, typecheck

refactor(server): finish explicit-init convention, drop dead dotenv import
  app/modules/auth/strategies/zitadel.server.ts
  app/modules/feature-flags/evaluate.server.ts
  app/modules/rbac/observability/metrics.ts
  app/server/entry.ts
Due: eslint, prettier, typecheck

fix(deps): refresh lockfile to clear in-range vulnerability advisories
  bun.lock
Due: none

fix(deps): upgrade to react-router v8, vite v8 (rolldown), hono-server v3
  .snyk
  bun.lock
  package.json
Due: prettier

refactor(vite): adapt config for vite 8 rolldown
  .gitignore
  .vite/deps/_metadata.json
  .vite/deps/package.json
  vite.config.ts
Due: eslint, prettier, typecheck

fix(app): migrate app and server code to react-router v8
  app/components/header/breadcrumb.tsx
  app/entry.client.tsx
  app/entry.server.tsx
  app/layouts/private.layout.tsx
  app/modules/auth/strategies/zitadel.server.ts
  app/modules/control-plane/setup.client.ts
  app/modules/control-plane/setup.server.ts
  app/modules/feature-flags/evaluate.server.ts
  app/modules/rbac/observability/metrics.ts
  app/root.tsx
  app/routes/account/billing/detail.tsx
  app/routes/project/detail/services/plugin-mount.tsx
  app/routes/test/sentry.tsx
  app/server/context.ts
  app/server/entry.ts
  app/types.d.ts
  app/utils/middlewares/auth.middleware.ts
  app/utils/middlewares/middleware.ts
Due: eslint, prettier, typecheck

chore(deps): adopt typescript 7 native tsc
  bun.lock
  docs/development/code-quality.md
  lefthook.yml
  package.json
Due: prettier

docs(quota): add quota-aware ui gating research for issue #1365
  docs/enhancements/quota-aware-ui-gating.md
Due: none

feat(quota): type allowance bucket status and add client quota data layer
  app/modules/feature-flags/milo-provider.test.ts
  app/modules/feature-flags/milo-provider.ts
  app/resources/allowance-buckets/allowance-bucket.adapter.test.ts
  app/resources/allowance-buckets/allowance-bucket.adapter.ts
  app/resources/allowance-buckets/allowance-bucket.queries.ts
  app/resources/allowance-buckets/allowance-bucket.schema.ts
  app/resources/allowance-buckets/index.ts
  app/resources/resource-registrations/index.ts
  app/resources/resource-registrations/resource-registration.queries.ts
  package.json
Due: eslint, prettier, typecheck

feat(quota): detect quota 403s with recovery toast and request-limit fixes
  app/features/quotas/build-quota-increase-request.test.ts
  app/features/quotas/build-quota-increase-request.ts
  app/features/quotas/quotas-table.tsx
  app/modules/axios/axios.server.ts
  app/modules/quota/quota-error.test.ts
  app/modules/quota/quota-error.ts
  app/modules/quota/quota-toast.tsx
  app/utils/errors/app-error.ts
Due: eslint, prettier, typecheck

feat(quota): add quota verdict hook and gating primitives
  app/modules/quota/README.md
  app/modules/quota/components/QuotaExhaustedAlert.tsx
  app/modules/quota/components/QuotaGuard.tsx
  app/modules/quota/derive-quota-verdict.test.ts
  app/modules/quota/derive-quota-verdict.ts
  app/modules/quota/index.ts
  app/modules/quota/observability/metrics.ts
  app/modules/quota/types.ts
  app/modules/quota/use-resource-quota.ts
  cypress/component/quota-exhausted-alert.cy.tsx
  cypress/component/quota-guard.cy.tsx
Due: eslint, prettier, typecheck

feat(quota): watch allowance buckets and count quota denials in the bff
  app/modules/quota/components/QuotaWatchBridge.tsx
  app/resources/allowance-buckets/allowance-bucket.watch.ts
  app/routes/org/detail/layout.tsx
  app/routes/project/detail/layout.tsx
  app/server/observability/quota-metrics.test.ts
  app/server/observability/quota-metrics.ts
  app/server/routes/proxy.ts
Due: eslint, prettier, typecheck

feat(quota): gate registered create surfaces and quota-aware error toasts
  app/features/edge/dns-records/dns-record-ai-edge-cell.tsx
  app/features/edge/dns-zone/dns-zone-form-dialog.tsx
  app/features/edge/dns-zone/form/dns-record-form.tsx
  app/features/edge/domain/add/add-domains-dialog.tsx
  app/features/edge/domain/domain-form-dialog.tsx
  app/features/edge/proxy/proxy-form-dialog.tsx
  app/features/secret/form/secret-form-dialog.tsx
  app/resources/dns-records/dns-record.queries.ts
  app/resources/dns-zones/dns-zone.queries.ts
  app/resources/domains/domain.queries.ts
  app/resources/http-proxies/http-proxy.queries.ts
  app/resources/projects/project.queries.ts
  app/resources/secrets/secret.queries.ts
  app/routes/org/detail/projects/index.tsx
  app/routes/project/detail/dns-zones/detail/dns-records.tsx
  app/routes/project/detail/dns-zones/index.tsx
  app/routes/project/detail/domains/index.tsx
  app/routes/project/detail/edge/index.tsx
  app/routes/project/detail/secrets/index.tsx
  app/routes/project/detail/settings/quotas.tsx
  cypress.config.ts
  cypress/component/quotas-table.cy.tsx
  cypress/e2e/quota/dns-zones-quota.cy.ts
Due: eslint, prettier, typecheck

fix(server): keep strict api rate limit for production only
  app/server/routes/api.ts
Due: eslint, prettier, typecheck

refactor: Rename DNS ALB cell and shorten protect label
  app/features/edge/dns-records/dns-record-alb-cell.tsx
  app/features/edge/dns-records/dns-record-table.tsx
  app/features/edge/dns-records/index.ts
  app/features/edge/dns-records/utils/proxy-match.ts
  app/modules/quota/README.md
  app/modules/rbac/README.md
  app/routes/project/detail/dns-zones/detail/dns-records.tsx
  cypress/e2e/regression/rbac-denials.cy.ts
  docs/ui/datum-ui-import-summary.md
  pnpm-lock.yaml
Due: eslint, prettier, typecheck

chore: Drop accidental pnpm-lock.yaml from ALB rename
  pnpm-lock.yaml
Due: none

test: Expect alb path in kindToHref HTTPProxy assertion
  app/features/search/shared/kindToHref.test.ts
Due: eslint, prettier, typecheck

fix: skip empty HTTPProxy PATCH on WAF-only save
  app/resources/http-proxies/http-proxy.adapter.ts
  app/resources/http-proxies/http-proxy.adapter.update.test.ts
  app/resources/http-proxies/http-proxy.service.ts
Due: eslint, prettier, typecheck

fix: resolve WAF status via targetRefs attachment
  app/resources/http-proxies/http-proxy.adapter.ts
  app/resources/http-proxies/http-proxy.service.ts
  app/resources/http-proxies/http-proxy.waf-attach.test.ts
  app/resources/http-proxies/http-proxy.waf-attach.ts
  app/resources/http-proxies/index.ts
Due: eslint, prettier, typecheck

chore: apply prettier to update payload test
  app/resources/http-proxies/http-proxy.adapter.update.test.ts
Due: eslint, prettier, typecheck

chore: apply prettier to targetRefs WAF changes
  app/resources/http-proxies/http-proxy.service.ts
  app/resources/http-proxies/http-proxy.waf-attach.test.ts
Due: eslint, prettier, typecheck

fix: harden protection-only update error and dry-run paths
  app/resources/http-proxies/http-proxy.service.ts
Due: eslint, prettier, typecheck

fix: restore TPP patch 404 recreate and 409 name fallbacks
  app/resources/http-proxies/http-proxy.service.ts
  app/resources/http-proxies/http-proxy.waf-attach.ts
Due: eslint, prettier, typecheck

feat: Show WAF Protected/Monitoring from Programmed
  app/features/edge/proxy/overview/config-card.tsx
  app/resources/http-proxies/http-proxy.service.ts
  app/resources/http-proxies/http-proxy.utils.ts
  app/resources/http-proxies/http-proxy.waf-status.test.ts
  app/resources/http-proxies/http-proxy.waf-status.ts
  app/resources/http-proxies/http-proxy.watch.ts
  app/resources/http-proxies/index.ts
  app/routes/project/detail/edge/detail/overview.tsx
Due: eslint, prettier, typecheck

fix: Gate incomplete orgs on entry and soft-nav resume
  app/features/onboarding/legacy-setup/org-setup-status.server.ts
  app/features/onboarding/legacy-setup/org-setup-status.test.ts
  app/features/onboarding/legacy-setup/org-setup-status.ts
  app/features/onboarding/onboarding-layout-redirect.test.ts
  app/features/onboarding/onboarding-layout-redirect.ts
  app/routes/account/organizations/index.tsx
  app/routes/onboarding/layout.tsx
  app/utils/helpers/path.helper.test.ts
  app/utils/helpers/path.helper.ts
  app/utils/middlewares/legacy-setup.middleware.test.ts
  app/utils/middlewares/legacy-setup.middleware.ts
Due: eslint, prettier, typecheck

feat(project): add suspension and read-only mode foundations
  .gitignore
  app/components/badge/badge-status.tsx
  app/features/project/read-only/README.md
  app/features/project/read-only/derive-guarded-action.ts
  app/features/project/read-only/guarded-write-button.tsx
  app/features/project/read-only/index.ts
  app/features/project/read-only/project-read-only-error.ts
  app/features/project/read-only/read-only-guard.tsx
  app/features/project/read-only/read-only-toast.ts
  app/features/project/read-only/use-guarded-mutation.ts
  app/features/project/read-only/use-project-mode.ts
  app/features/project/suspension/build-suspension-appeal-request.ts
  app/features/project/suspension/classify-suspension-error.ts
  app/features/project/suspension/derive-suspension-verdict.ts
  app/features/project/suspension/index.ts
  app/features/project/suspension/suspension-bar.tsx
  app/features/project/suspension/suspension-copy.ts
  app/features/project/suspension/suspension-cta.tsx
  app/features/project/suspension/suspension-tier.tsx
  app/features/project/suspension/suspension-toast.ts
  app/features/project/suspension/use-project-suspension.ts
  app/modules/axios/axios.server.ts
  app/modules/quota/components/QuotaGuard.tsx
  app/modules/quota/quota-toast.tsx
  app/providers/project.provider.tsx
  app/resources/projects/index.ts
  app/resources/projects/project.schema.ts
  app/utils/errors/app-error.ts
  app/utils/errors/error-mapper.ts
Due: eslint, prettier, typecheck
