Repository datum-cloud/cloud-portal: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  run: bunx eslint {staged_files} --fix
  auto_add: true

prettier:
  run: bunx prettier --write {staged_files}
  auto_add: true

typecheck:
  run: bunx tsc --noEmit {staged_files}
  auto_add: true

fix(proxy): allow HTTP protocol for IP-based origins
  app/features/edge/proxy/form/protocol-endpoint-input.tsx
  app/features/edge/proxy/proxy-form-dialog.tsx
  app/features/edge/proxy/proxy-origins-dialog.tsx
Due: eslint, prettier, typecheck

security: pin GitHub Actions to commit SHAs
  .github/workflows/ci.yml
  .github/workflows/set-project-month.yaml
  renovate.json
Due: prettier

security: pin Bun version in CI to match Dockerfile
  .github/workflows/ci.yml
  renovate.json
Due: prettier

security: tighten GITHUB_TOKEN scope and drop unneeded secrets: inherit
  .github/workflows/ci.yml
Due: none

security: harden codegen scripts against shell injection
  scripts/graphql.ts
  scripts/openapi.ts
Due: eslint, prettier, typecheck

security: pin Dockerfile base image by digest
  Dockerfile
  renovate.json
Due: prettier

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier

fix: enable redis offline queue to avoid first-command failures
  app/modules/redis/connection.ts
Due: eslint, prettier, typecheck

chore: remove unused react-day-picker dependency
  bun.lock
  package.json
Due: prettier

fix(forms): Validate AI Edge origin client-side and disable autocap
  app/components/input-name/input-name.tsx
  app/components/key-value-form-dialog.tsx
  app/features/edge/dns-zone/dns-zone-form-dialog.tsx
  app/features/edge/dns-zone/form/dns-record-form.tsx
  app/features/edge/dns-zone/form/types/a-record-field.tsx
  app/features/edge/dns-zone/form/types/aaaa-record-field.tsx
  app/features/edge/dns-zone/form/types/alias-record-field.tsx
  app/features/edge/dns-zone/form/types/caa-record-field.tsx
  app/features/edge/dns-zone/form/types/cname-record-field.tsx
  app/features/edge/dns-zone/form/types/https-record-field.tsx
  app/features/edge/dns-zone/form/types/mx-record-field.tsx
  app/features/edge/dns-zone/form/types/ns-record-field.tsx
  app/features/edge/dns-zone/form/types/ptr-record-field.tsx
  app/features/edge/dns-zone/form/types/soa-record-field.tsx
  app/features/edge/dns-zone/form/types/srv-record-field.tsx
  app/features/edge/dns-zone/form/types/svcb-record-field.tsx
  app/features/edge/dns-zone/form/types/tlsa-record-field.tsx
  app/features/edge/dns-zone/form/types/txt-record-field.tsx
  app/features/edge/domain/bulk-add/bulk-add-domains-action.tsx
  app/features/edge/domain/domain-form-dialog.tsx
  app/features/edge/proxy/form/protocol-endpoint-input.tsx
  app/features/edge/proxy/form/subdomain-hostname-field.tsx
  app/features/edge/proxy/form/tls-field.tsx
  app/features/edge/proxy/proxy-basic-auth-dialog.tsx
  app/features/metric/export-policies/form/sink/prometheus/prometheus-field.tsx
  app/features/metric/export-policies/providers/grafana/grafana-form.tsx
  app/features/secret/form/key-value-field-array.tsx
  app/resources/http-proxies/http-proxy.schema.ts
  cypress/component/http-proxy-schema.cy.ts
Due: eslint, prettier, typecheck

test(forms): Supply tlsHostname for IPv4 origin acceptance tests
  cypress/component/http-proxy-schema.cy.ts
Due: eslint, prettier, typecheck

chore: AI Edge clean up
  app/features/edge/proxy/overview/config-card.tsx
  app/features/edge/proxy/overview/hostnames-card.tsx
  app/features/edge/proxy/proxy-display-name-dialog.tsx
  app/routes/project/detail/edge/detail/index.tsx
Due: eslint, prettier, typecheck

test(errors): add e2e coverage for not-found loader paths
  app/components/error/generic.tsx
  cypress/e2e/smoke/not-found.cy.ts
Due: eslint, prettier, typecheck

chore(errors): apply prettier formatting to not-found spec
  cypress/e2e/smoke/not-found.cy.ts
Due: eslint, prettier, typecheck

test(cypress): stub ambient IAM polling to prevent rate-limit flake
  cypress/support/e2e.ts
Due: eslint, prettier, typecheck

feat(activity): roll out ActivityFeed across resource detail tabs and settings pages
  app/features/activity-log/activity-log-columns.tsx
  app/features/activity-log/activity-log-filters.ts
  app/features/activity-log/activity-log-table.tsx
  app/features/activity-log/index.ts
  app/features/activity-log/use-activity-log-table.ts
  app/features/activity/activity-client.ts
  app/features/activity/activity-link-resolvers.ts
  app/features/activity/error-formatter.ts
  app/features/activity/index.ts
  app/features/activity/kinds.ts
  app/features/activity/resource-activity-feed.tsx
  app/features/activity/use-activity-client.ts
  app/features/metric/export-policies/card/general-card.tsx
  app/lib/activity-client.ts
  app/routes.ts
  app/routes/account/settings/activity.tsx
  app/routes/org/detail/settings/activity.tsx
  app/routes/project/detail/dns-zones/detail/activity.tsx
  app/routes/project/detail/dns-zones/detail/layout.tsx
  app/routes/project/detail/domains/detail/activity.tsx
  app/routes/project/detail/domains/detail/layout.tsx
  app/routes/project/detail/edge/detail/activity.tsx
  app/routes/project/detail/edge/detail/index.tsx
  app/routes/project/detail/edge/detail/layout.tsx
  app/routes/project/detail/edge/detail/overview.tsx
  app/routes/project/detail/metrics/detail/activity.tsx
  app/routes/project/detail/metrics/detail/edit-redirect.tsx
  app/routes/project/detail/metrics/detail/layout.tsx
  app/routes/project/detail/metrics/detail/settings.tsx
  app/routes/project/detail/metrics/index.tsx
  app/routes/project/detail/secrets/detail/activity.tsx
  app/routes/project/detail/secrets/detail/layout.tsx
  app/routes/project/detail/settings/activity.tsx
  app/utils/config/paths.config.ts
Due: eslint, prettier, typecheck

feat(activity): Style activity feed and simplify page titles
  app/features/activity/resource-activity-feed.tsx
  app/routes/project/detail/dns-zones/detail/activity.tsx
  app/routes/project/detail/domains/detail/activity.tsx
  app/routes/project/detail/edge/detail/activity.tsx
  app/routes/project/detail/metrics/detail/activity.tsx
  app/routes/project/detail/secrets/detail/activity.tsx
  app/routes/project/detail/service-accounts/detail/activity.tsx
Due: eslint, prettier, typecheck

fix(proxy): tighten Host header validation and copy
  app/features/edge/proxy/form/host-header-field.tsx
  app/resources/http-proxies/http-proxy.adapter.ts
  app/resources/http-proxies/http-proxy.schema.ts
  cypress/component/http-proxy-adapter.cy.ts
Due: eslint, prettier, typecheck

fix(http-proxy): Use chosenName for proxy detail title
  app/routes/project/detail/edge/detail/layout.tsx
Due: eslint, prettier, typecheck

feat(billing): collect Stripe payment method during signup gating
  app/modules/axios/request-context.ts
  app/resources/billing/billing.schema.ts
  app/resources/billing/billing.service.ts
  app/resources/billing/index.ts
  app/routes.ts
  app/routes/billing/setup.tsx
  app/routes/fraud/verifying.tsx
  app/server/routes/api.ts
  app/server/routes/billing-status.ts
  app/utils/config/paths.config.ts
  app/utils/middlewares/fraud-status.middleware.ts
  bun.lock
  package.json
Due: eslint, prettier, typecheck

chore: environment-setup.md typo
  docs/getting-started/02-environment-setup.md
Due: none

chore: bun installed w/o --frozen-lockfile
  bun.lock
Due: none

chore: sentry.prod SENTRY_DSN
  config/base/deployment.yaml
Due: none

fix: satisfy ManualChunksOption type for Vite 8 compatibility
  vite.config.ts
Due: eslint, prettier, typecheck

fix: convert manualChunks to function for rolldown/Vite 8 compatibility
  vite.config.ts
Due: eslint, prettier, typecheck

feat(search): add tenant-scoped search resource module
  app/modules/control-plane/search/schemas.gen.ts
  app/modules/control-plane/search/sdk.gen.ts
  app/modules/control-plane/search/types.gen.ts
  app/resources/search/index.ts
  app/resources/search/search.active-project.test.ts
  app/resources/search/search.active-project.ts
  app/resources/search/search.adapter.test.ts
  app/resources/search/search.adapter.ts
  app/resources/search/search.constants.ts
  app/resources/search/search.queries.ts
  app/resources/search/search.recents.test.ts
  app/resources/search/search.recents.ts
  app/resources/search/search.schema.ts
  app/resources/search/search.service.test.ts
  app/resources/search/search.service.ts
  app/resources/search/search.telemetry.test.ts
  app/resources/search/search.telemetry.ts
Due: eslint, prettier, typecheck

feat(search): add headless useSearchEngine + useActiveProject hooks
  app/features/search/engine/useActiveProject.ts
  app/features/search/engine/useSearchEngine.test.ts
  app/features/search/engine/useSearchEngine.ts
Due: eslint, prettier, typecheck

feat(search): add shared UI primitives
  app/features/search/shared/SearchEmptyState.tsx
  app/features/search/shared/SearchPartialPermissionNote.tsx
  app/features/search/shared/SearchResultItem.tsx
  app/features/search/shared/SearchResultList.tsx
  app/features/search/shared/SearchScopeFooter.tsx
  app/features/search/shared/kindIcon.tsx
  app/features/search/shared/kindToHref.test.ts
  app/features/search/shared/kindToHref.ts
Due: eslint, prettier, typecheck

feat(search): wire surfaces and mount points
  app/components/header/header.tsx
  app/components/header/index.ts
  app/components/header/search-bar.tsx
  app/features/search/SearchEntry.tsx
  app/features/search/surfaces/CmdKPalette.tsx
  app/features/search/surfaces/MobileSearchSheet.tsx
  app/features/search/surfaces/ProjectSearchBar.tsx
  app/layouts/dashboard.layout.tsx
  app/routes/project/detail/layout.tsx
Due: eslint, prettier, typecheck

refactor(search): replace CmdKPalette dialog with ⌘K focus hotkey
  app/features/search/SearchEntry.tsx
  app/features/search/surfaces/CmdKPalette.tsx
  app/features/search/surfaces/ProjectSearchBar.tsx
  app/resources/search/search.telemetry.test.ts
  app/resources/search/search.telemetry.ts
Due: eslint, prettier, typecheck

feat(search): show OS-aware ⌘K / Ctrl K hint in search input
  app/features/connectors/connector-download-card.tsx
  app/features/search/surfaces/ProjectSearchBar.tsx
  app/hooks/useOs.ts
Due: eslint, prettier, typecheck

refactor(search): mount search in project layout, rebuild bar on InputWithAddons
  app/components/header/header.tsx
  app/features/search/SearchEntry.tsx
  app/features/search/shared/SearchScopeFooter.tsx
  app/features/search/surfaces/ProjectSearchBar.tsx
  app/routes/project/detail/layout.tsx
Due: eslint, prettier, typecheck

feat(rbac): per-check access-review module, BFF endpoints & middleware
  app/modules/rbac/README.md
  app/modules/rbac/client/index.ts
  app/modules/rbac/client/rbac-api.ts
  app/modules/rbac/components/PermissionButton.tsx
  app/modules/rbac/components/PermissionCheck.tsx
  app/modules/rbac/components/PermissionGate.tsx
  app/modules/rbac/components/index.ts
  app/modules/rbac/components/withPermission.tsx
  app/modules/rbac/context/index.ts
  app/modules/rbac/context/rbac.context.tsx
  app/modules/rbac/context/rbac.provider.tsx
  app/modules/rbac/hooks/index.ts
  app/modules/rbac/hooks/useAccessReview.ts
  app/modules/rbac/hooks/useCheckQuery.ts
  app/modules/rbac/hooks/useHasPermission.ts
  app/modules/rbac/hooks/usePermission.ts
  app/modules/rbac/hooks/usePermissionCheck.ts
  app/modules/rbac/hooks/usePermissions.ts
  app/modules/rbac/index.ts
  app/modules/rbac/observability/metrics.ts
  app/modules/rbac/permission-checker.ts
  app/modules/rbac/rbac.middleware.ts
  app/modules/rbac/server/rbac.middleware.ts
  app/modules/rbac/server/rbac.service.test.ts
  app/modules/rbac/server/rbac.service.ts
  app/modules/rbac/service/index.ts
  app/modules/rbac/service/rbac.service.ts
  app/modules/rbac/types.ts
  app/resources/access-review/access-review.service.ts
  app/resources/base/types.ts
  app/server/entry.ts
  app/server/routes/permissions.ts
  cypress/component/permission-gate.cy.tsx
Due: eslint, prettier, typecheck

feat(rbac): shared permission UI components & 403 page
  app/components/danger-card/danger-card.tsx
  app/components/restricted-overlay/restricted-overlay.tsx
  app/components/restricted-state/restricted-state.tsx
  app/routes.ts
  app/routes/error/forbidden.tsx
  app/routes/test/permissions.tsx
Due: eslint, prettier, typecheck

feat(rbac): gate team members & groups management
  app/features/organization/team/group-header.tsx
  app/features/organization/team/manage-members-dialog.tsx
  app/routes/org/detail/team/group-detail.tsx
  app/routes/org/detail/team/groups.tsx
  app/routes/org/detail/team/index.tsx
  app/routes/org/detail/team/invite.tsx
  app/routes/org/detail/team/member-roles.tsx
Due: eslint, prettier, typecheck

feat(rbac): gate quotas & activity settings
  app/features/activity/error-formatter.ts
  app/routes/org/detail/settings/quotas.tsx
Due: eslint, prettier, typecheck

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json}
  typecheck: any of: *.{ts,tsx}
